language: node_js
node_js:
  - "4.1"
  - "4.0"
script: node_modules/karma/bin/karma start karma.conf.js --single-run
before_script:
  - npm install
before_install:
  - npm install -g bower
  - bower install
