<!DOCTYPE html>
<html lang="en" ng-app="JustBallz">
<head>
  <meta charset="UTF-8">
  <title>Just Ballz</title>
    <script src= "bower_components/angular/angular.js"></script>
    <script src= "bower_components/angular-resource/angular-resource.js"></script>
    <script src= "src/app.js"></script>
    <script src= "src/justBallzController.js"></script>
    <script src= "src/welcomeDirective.js"></script>
    <script src= "src/connectDirective.js"></script>

</head>
<body ng-controller="JustBallzController">
  <section>

  <welcome-page></welcome-page>

  <connect-page></connect-page>

  <div ng-show="isInView(3)">
    <h1>Connecting to your sphero please place your right hand over the LeapMotion</h1>
    <button ng-click="connected()">Button to be Deleted</button>
  </div>

  <div ng-show="isInView(4)">
    <h1>Your sphero is connected</h1>
    <button ng-click="disconnect()">Button to be Deleted</button>
  </div>

  </section>

</body>
</html>
