<div ng-show="isInView(3)">
    <div class="text">CONNECTING</div>
      <div class="box">
      <div class="comp"></div>
      <div class="loader"></div>
      <div class="con"></div>
      <div class="byte"></div>
      <div class="circle"></div>
  </div>
</div>

<style>
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
body{
  margin: 0;
  padding: 0;
  background: #459BF9;
}
.box{
  width: 240px;
  height: 150px;
  position: absolute;
  top: calc(50% - 25px);
  top: -webkit-calc(50% - 25px);
  left: calc(50% - 120px);
  left: -webkit-calc(50% - 120px);
}
.text{
  font-family: 'Lato', sans-serif;
  color: #2D3047;
  font-weight: 300;
  font-size: 45px;
  position: absolute;
  top: calc(50% - 105px);
  top: -webkit-calc(50% - 105px);
  left: calc(50% - 160px);
  left: -webkit-calc(50% - 160px);
  oapcity: 1;
  -webkit-animation: fade-in-out 2.5s infinite;
  -moz-animation: fade-in-out 2.5s infinite;
  -o-animation: fade-in-out 2.5s infinite;
  animation: fade-in-out 2.5s infinite;
}
.comp{
  position: absolute;
  top: 0px;
  width: 80px;
  height: 55px;
  border: 3px solid #5AB1BB;
  border-radius: 5px;
}
.comp:after{
  content: '';
  position: absolute;
  z-index: 5;
  top: 19px;
  left: 5px;
  width: 65px;
  height: 10px;
  border-radius: 360px;
  border: 3px solid #5AB1BB;
}
.loader{
  position: absolute;
  z-index: 5;
  top: 26px;
  left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 360px;
  background: #F49E4C;
  -webkit-animation: loader 5s infinite linear 0.5s;
  -moz-animation: loader 5s infinite linear 0.5s;
  -o-animation: loader 5s infinite linear 0.5s;
  animation: loader 5s infinite linear 0.5s;
}
.con{
  position: absolute;
  top: 28px;
  left: 85px;
  width: 100px;
  height: 3px;
  background: #5AB1BB;
}
.byte{
  position: absolute;
  top: 25px;
  left: 80px;
  height: 9px;
  width: 9px;
  background: #5AB1BB;
  border-radius: 360px;
  z-index: 6;
  opacity: 0;
  -webkit-animation: byte_animate 5s infinite linear 0.5s;
  -moz-animation: byte_animate 5s infinite linear 0.5s;
  -o-animation: byte_animate 5s infinite linear 0.5s;
  animation: byte_animate 5s infinite linear 0.5s;
}
.circle{
  	width: 40px;
  	height: 40px;
    position: absolute;
    top:7px;
    left:190px;
  	background: #F49E4C;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
}
/*Byte Animation*/
@-webkit-keyframes byte_animate{
  0%{
    opacity: 0;
    left: 80px;
  }
  4%{
    opacity: 1;
  }
  46%{
    opacity: 1;
  }
  50%{
    opacity: 0;
    left: 185px;
  }
  54%{
    opacity: 1;
  }
  96%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 80px;
  }
}
@-moz-keyframes byte_animate{
  0%{
    opacity: 0;
    left: 80px;
  }
  4%{
    opacity: 1;
  }
  46%{
    opacity: 1;
  }
  50%{
    opacity: 0;
    left: 185px;
  }
  54%{
    opacity: 1;
  }
  96%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 80px;
  }
}
@-o-keyframes byte_animate{
  0%{
    opacity: 0;
    left: 80px;
  }
  4%{
    opacity: 1;
  }
  46%{
    opacity: 1;
  }
  50%{
    opacity: 0;
    left: 185px;
  }
  54%{
    opacity: 1;
  }
  96%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 80px;
  }
}
@keyframes byte_animate{
  0%{
    opacity: 0;
    left: 80px;
  }
  4%{
    opacity: 1;
  }
  46%{
    opacity: 1;
  }
  50%{
    opacity: 0;
    left: 185px;
  }
  54%{
    opacity: 1;
  }
  96%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 80px;
  }
}
/*LOADER*/
@-webkit-keyframes loader{
  0%{
    width: 8px;
  }
  100%{
    width: 63px;
  }
}
@-moz-keyframes loader{
  0%{
    width: 8px;
  }
  100%{
    width: 63px;
  }
}
@-o-keyframes loader{
  0%{
    width: 8px;
  }
  100%{
    width: 63px;
  }
}
@keyframes loader{
  0%{
    width: 8px;
  }
  100%{
    width: 63px;
  }
}
/*FADE IN-OUT*/
@-webkit-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
@-moz-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
@-o-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
@keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
</style>
