<h2>Just Ballz</h2>
<div ng-show="isInView(1)">
  <body>
  <form>
    <div id="wrapper">
    <input id="textField" type="text" ng-model="name">
    <button type="button" class="btn btn-warning btn-med" ng-click="submit()">Enter Your Sphero's Name</button>
  </div>
  </form>
    <p>
      <img class="diagram" src="../public/img/Welcome_Diagrams_final.png" >
    </p>
  </body>
</div>

<style>

  #textField {
    text-align: center;
    padding: 5px;
    padding-left: 40px;
    background-color: #F5EE9E;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }s

  #enterSpoName {
    background-color: #F49E4C;
  }

  #wrapper {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    left: 50%;
    margin-left: -80px;
  }
  img.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
  }

  form {
    position: relative;
    width: 40%;
    height: 120px;
    margin: 20px auto;
  }
</style>
